<!-- <html>
   <head>
      <title>Capstone Project</title>
   </head>
   <body>
    <!--add this template tag-->
      <!-- <h1 style="text-align:center;">Welcome ToLittleLemon Restaurant</h1>

      {% load static %}
      <img src="{% static 'restaurant/littlelemon.png' %}">
    </body>
</html> --> 
{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Welcome Page</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="{% static 'restaurant/style.css' %}">
</head>
<body>
   <header>
      <nav class="navbar">
        <img src="{% static 'restaurant/littlelemon.png' %}" alt="" width="30%" height="15%">
      </nav>
   </header>
    <main>
        <section>
         <h1>Welcome to Our Restaurant</h1>

         <h2>API Endpoints</h2>

    <!-- Create a table to display the API endpoints -->
    <table border="1" align="center">
      <tr>
            <th>Endpoint</th>
            <th>Description</th>
        </tr>
        <tr>
            <td><a href="/api/menu" target="_blank">/api/menu</a></td>
            <td>Browse menu items</td>
        </tr>
        <tr>
            <td><a href="/api/menu" target="_blank">/api/menu</a> (POST)</td>
            <td>Add new menu item</td>
        </tr>
        <tr>
            <td><a href="/api/menu/pk" target="_blank">/api/menu/pk</a></td>
            <td>Get a specific item</td>
        </tr>
        <tr>
            <td><a href="/booking/tables" target="_blank">/booking/tables</a> (Token-Authentication required)</td>
            <td>Secure table booking</td>
        </tr>
        <tr>
            <td><a href="/auth/users" target="_blank">/auth/users</a> (POST)</td>
            <td>Register new users</td>
        </tr>
        <tr>
            <td><a href="/auth/token/login" target="_blank">/auth/token/login</a> (POST)</td>
            <td>Get authentication token</td>
        </tr>
        <tr>
            <td><a href="/api-token-auth/" target="_blank">/api-token-auth/</a> (POST)</td>
            <td>Get authentication token (alternative)</td>
        </tr>
        <tr>
            <td><a href="/auth/token/logout" target="_blank">/auth/token/logout</a> (POST)</td>
            <td>Log out</td>
        </tr>
    </table>
        </section>
    </main>
    
</body>
</html>