  /* Base styles for all screens */
body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    background-color: #f0f0f0;
}
header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1em;
}

/* Responsive styles for small screens (up to 768px) */
@media (max-width: 768px) {
    header {
        font-size: 24px;
        padding: 0.5em;
    }
    main {
        padding: 1em;
        height: 100 vh;
        width: vw;
    }
}

/* Responsive styles for large screens (over 768px) */
@media (min-width: 769px) {
    header {
        font-size: 36px;
        padding: 2em;
    }
    main {
        padding: 2em;
    }
}
